<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="king.max">

    <!-- 网络访问 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 读取外部储存 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 写入外部储存 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <!-- 外部跳转拦截器 -->
        <activity
            android:name=".ui.activity.filter.FilterActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <!-- 此处需要修改自定义跳转协议 -->
                <data android:scheme="max" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
    </application>
</manifest>
